<!DOCTYPE html>
<html lang="en">
<head>
<title>Helpbit - Get Services On the Go</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Helpbit Services Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/jquery.countdown.css" /> <!-- countdown --> 
<!-- //js -->  
<!-- web fonts --> 
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling --> 
</head> 
<body>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				<a class="navbar-brand" href="#" style = "padding-left: 0px; color: white">Helpbit</a>
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						 <% if(currentUser&&(currentUser.id== admin )){ %>
								<li><a href="/additems" class="">Add Items</a></li>
								<li><a href="/requests">Requests</a></li>

			                <% } %> 

			                 <% if(currentUser&&currentUser.servicetype){ %>
									<li><a href="/addservices<%= currentUser._id %>" class = "act">Add Services</a></li>
							 <%	} %>

						<div class="nav navbar-nav navbar-right">
							<% if(currentUser&&currentUser.companyname){ %>
			                    <li><a href="#">Signed in as <%= currentUser.companyname %></a></li>
			                	<li><a href="/logout">Logout</a></li> 
			              	<% } %>

			              	<% if(currentUser&&currentUser.name){ %>
			                    <li><a href="#">Signed in as <%= currentUser.name %></a></li>
			                    <li><a href="/logout">Logout</a></li>                 
			              	<% } %>
			            </div>


					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- /Navigation -->
<div class="container">
    <% if (error && error.length > 0){ %>
        <div class = "alert alert-danger">
          <%= error %>
        </div>
      <% } %>
      <% if (success && success.length > 0){ %>      
        <div class = "alert alert-success">
          <%= success %>
        </div>
      <% } %>
</div>

<div class="jumbotron">
	<div class = "container">
        <h3 class = "display-3">We Currently deal with following services in <%= servicetype %> </h3>
	</div>  
</div>
<% if(items.length===0){ %>
	<div class="container">
		<div class = "jumbotron">
			<h4 class = "display-3">We are sorry services are currently unavailable in <%= servicetype %> </h4>
		</div>  
	</div>
<% } %>

<div class = "row">
	<div class = "container">
<% if(items.length>0){ %>
	<% items.forEach(function(item){ %>


<div class="col-md-3">

	<div class = "thumbnail spthumbnail">
        <img src = "<%= item.url %>">
            <div class="caption">
    			<h5><a href="<%=  %>"><%= item.servicename %></a></h5>            
            </div>
	
	<% if(currentUser&& currentUser.ownername ){ %>
		<div class="simpleCart_shelfItem">	

<!-- 		<% if(item.subitems.length>=1){ %>	
		  <a href="<%=  %>" class="w3ls-cart btn btn-default btn-xs">Add Subitem</a>
		  <a href="/url" class="w3ls-cart btn btn-danger btn-xs">This item has subitems</a>

		<% } %>
 -->
<!-- 		<% if(item.subitems.length<=0){ %>	
		  <a href="<%=  %>" class="w3ls-cart btn btn-default btn-xs">Add Service</a>
		  <a href="" class="w3ls-cart btn btn-default btn-xs">Generate Form</a>

		<% } %>

		<% if(item.issues.length>=1){ %>	
		  <a href="#" class="w3ls-cart btn btn-danger btn-xs">Item has form</a>
		  <a href="#" class="w3ls-cart btn btn-danger btn-xs">Item has form</a>

		<% } %>
 -->
		</div>
    <% } %>						               
    </div>
</div>
	<% }) %>	        
 <% } %>
 </div>			
</div>        

</body>
</html>	